{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldcity_id">city_id</label><select id="somefieldcity_id" name="city_id"><option value="novalue">no value</option>
{% for somecity in touslescity %}
<option value="{{ somecity['id'] }}">{{ somecity['name'] }}</option>{% endfor %}
</select></div>
<div class="field"><label for="somefieldoohadspic">pic</label><input type="file" id="somefieldoohadspic" name="pic"/></div>
<div class="field"><label for="somefieldoohadsuser_id">user_id</label><input type="text" id="somefieldoohadsuser_id" name="user_id"/></div>
<div class="field"><label for="somefieldoohadsmessage">message</label><input type="text" id="somefieldoohadsmessage" name="message"/></div><div class="actions"><input type="submit"/></div></form>{% for x in oohadss %}{{x["city_id"] }}{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_oohads"> add one oohads</a>{% endblock %}